//- Footer Component
//- Note: Links are relative to the root (index.html)
footer.site-footer
  .container
    .footer-content
      .footer-brand
        a(href="../../index.html")
          .logo-placeholder LOGO
        p.footer-description Trusted cold-chain logistics for biotech and life-science shipments.
      .footer-column
        h4.footer-title Company
        ul.footer-links
          li
            a.footer-link(href="../../company/index.html") About Us
          li
            a.footer-link(href="#") Leadership
          li
            a.footer-link(href="#") Global Network
          li
            a.footer-link(href="#") Newsroom
      .footer-column
        h4.footer-title Solutions
        ul.footer-links
          li
            a.footer-link(href="../../solutions/index.html") Services Overview
          li
            a.footer-link(href="../../industries/index.html") Industries We Serve
          li
            a.footer-link(href="../../industries/biotech.html") Biotech Logistics
          li
            a.footer-link(href="../../expertise/index.html") Compliance & Expertise
      .footer-column
        h4.footer-title Resources
        ul.footer-links
          li
            a.footer-link(href="../../resources/index.html") Overview
          li
            a.footer-link(href="../../resources/case-studies.html") Case Studies
          li
            a.footer-link(href="#") Insights
          li
            a.footer-link(href="#") Whitepapers
          li
            a.footer-link(href="#") FAQ
      .footer-column
        h4.footer-title Support
        ul.footer-links
          li
            a.footer-link(href="../../track/index.html") Tracking
          li
            a.footer-link(href="../../contact/index.html") Contact Us
    .footer-bottom
      p.site-footer__copy © 2025 TailorMed. All Rights Reserved.
      .footer-legal-links
        a.footer-legal-link(href="#") Terms of Use
        a.footer-legal-link(href="#") Privacy Policy
        a.footer-legal-link(href="#") Cookies Notice
